/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Header Styles */
header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

/* Main Content Styles */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.gpa {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gpa h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.gpa-courses {
  margin-bottom: 20px;
  background: whitesmoke;
  min-height: 40px;
  padding: 15px 10px;
}

.gpa-course {
  display: flex;
  margin-bottom: 10px;
}

.gpa-course input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.gpa-course select {
  padding: 2.5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 10%;
}

.gpa-course button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.gpa-course button:hover {
  background-color: #555;
}

.gpa-courses .gpa-course:last-child {
  margin-bottom: 0;
}

.gpa-courses .gpa-course .remove-course {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.gpa-courses .gpa-course .remove-course:hover {
  background-color: #ff3333;
}

/* ------------CGPA------------- */
.cgpa {
  margin: 15px 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cgpa h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.cgpa-terms {
  margin-bottom: 20px;
  background: whitesmoke;
  min-height: 40px;
  padding: 15px 10px;
}

.cgpa-term {
  display: flex;
  margin-bottom: 10px;
}

.cgpa-term input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cgpa-terms .cgpa-term:last-child {
  margin-bottom: 0;
}

.remove-term {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.remove-term:hover {
  background-color: rgba(231, 125, 59, 0.685);
}

.cgpa .add-term  {
  background-color: #4caf50;
  color: white;
}
.cgpa .add-term:hover{
  background-color: #4caf4fc5;
  color: white;
}

.cgpa .calculate-cgpa {
  background-color: #008cba;
  color: white;
}
.cgpa .calculate-cgpa:hover {
  background-color: #008bbab5;
  color: white;
}

.cgpa .reset-cgpa {
  background-color: #ff1100;
  color: white;
}
.cgpa .reset-cgpa:hover {
  background-color: #ff1100a8;
  color: white;
}

.gradScale {
  border: solid black 1px;
  padding: 6%;
}

.gradScale h2 {
  margin: 0;
  padding: 0;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #f0f0f0;
}

/* Button Styles */
button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}

.add-course  {
  background-color: #4caf50;
  color: white;
}

.calculate-gpa {
  background-color: #008cba;
  color: white;
}

.reset {
  background-color: #ff1100;
  color: white;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: #fff;
  width: 100%;
}

/* Responsive Styles */
@media (max-width: 630px) {
  .gpa-course {
    flex-direction: column;
  }
  .gpa-course input,
  .gpa-course select {
    width: 95%;
    margin-right: 1%;
    margin-bottom: 10px;
  }
  .gpa-course select {
    width: 50%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .cgpa-term {
    flex-direction: column;
  }
  .cgpa-term input {
    width: 95%;
    margin-right: 1%;
    margin-bottom: 10px;
  }
}
